html {
  overflow: hidden;
}

#root {
  margin: 0;
  padding-top: 46px;
  width: 100%;
  max-height: 350px;
}

body {
  max-height: min-content;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #5a0070aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #681c7aaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  margin: 0;
  text-align: right;
  padding: 0;
  box-sizing: border-box;
  background-color: #5a0070;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
}

header p {
  margin-left: 15px;
  height: 100%;
  line-height: 100%;
}

header button {
  all: unset;
  border: none;
  width: 46px;
  height: 100%;
  margin: 0 1px;
  text-align: center;
  -webkit-app-region: no-drag;
}

header button:focus, header button:active {
  outline: none;
}

button#minimize:hover {
  background-color: #681c7a;
  transition: ease-in .1s;
}

button#close:hover {
  background-color: #cb3f2c;
  transition: ease-in .1s;
}

main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  margin-top: 25px;
  line-height: 50px;
}

.content {
  display: flex;
  width: 90%;
  height: 100%;
  margin-top: 15px;
  padding-left: 10%;
}

.left {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.right {
  width: 70%;
  height: 100%;
}

.right button:hover {
  border-color: #c209f0;
}

.right button:disabled {
  border: none;
  cursor: default;
}

button.dirBtn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 190px;
}